html{
  height: 100%;
}
body{ 
  padding: 0;
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;

}

#map {
  height: 100%;  

}

#show { 
  padding: 10px;
  height: 100vh;
}



#show h3{
  margin-bottom: -3px;
}



.info-window.title{  
  line-height: 0.5em;
  font-weight: 600;
  font-size: 13px;
  
}


.info-window p{
  font:400 11px 'Roboto', 'Arial', 'sans-serif';
  line-height: .3em;

}


