body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}

#map {
  height: 100%;
  width: 70%;
}

#show {
  padding: 15px;
  border: 1px solid black
}

.info-window{  
  line-height: 0.3em;
}

.info-window hr{
  margin-top: -7px;
  
}

.info-window p{
  font-size: 8pt;
}
