body, html {
 
  height: 100%;
  padding: 0;
  margin: 0;
}

#map {
  height: 100%;
  width: 70%;
}

#show {
  padding: 15px;
  border: 1px solid black
}

.info-window{

}
.info-window.title{  
  line-height: 0.5em;
  font-weight: 600;
  font-size: 13px;
  
}


.info-window p{
  font:400 11px 'Roboto', 'Arial', 'sans-serif';
  line-height: .3em;

}


